:root{
    --primary-color: #FF577F;
    --primary-color-hover: #FF427F;

    --background-grey: #121214;
    --box-background-grey: #212529;
    --input-background-grey: #343B41;

    --white-text-color: #F8F9FA;
    --grey-text-color: #868E96;

}

body{
    background-color: var(--background-grey);
}