:root{
    --primary-color: #FF577F;
    --primary-color-hover: #FF427F;

    --background-grey: #121214;
    --box-background-grey: #212529;

    --white-text-color: #F8F9FA;
    --grey-text-color: #868E96;

}